# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Folders
build/
*/dev-tools/
.vscode/

# Stuff that shouldn't go in main
flake.nix

# Executables
*.exe
*.out
*.app
